openapi: 3.0.2
info:
  version: 1.0.0
  title: BIO PORTAL API
  contact:
    email: info@holdingbio.ru
    url: 'https://holdingbio.ru'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://holdingbio.ru/wp-content/uploads/2020/01/bio_logo-2.png'
  description: >
    # Информация

    ...Описание тест...

    [пример ссылки](https://holdingbio.ru).

    # Протокол передачи данных
    
    На текущий момент API поддерживает HTTP протокол. HTTPS протокол будет внедрен в ближайшее время.

    # Формат запросов

    По умолчанию в API используются POST-запросы.

    # Аутентификация
    
    Все запросы требуют логин и пароль пользователя для аутентификации.

externalDocs:
  description: Хочу на портал
  url: 'http://api.bioshop.ru:8888/portal'
tags:
  - name: Order
    description: Информация по выбранному заказу
  - name: Orders
    description: Список всех заказов клиента
  - name: Bonuses
    description: Бонусы клиента
servers:
  - url: 'http://api.bioshop.ru:8030'
paths:
  /order:
    $ref: paths/order.yaml
  /orders:
    $ref: paths/orders.yaml
  /bonuses:
    $ref: paths/bonuses.yaml
components:
  securitySchemes:
    main_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'http://example.com/api/oauth/dialog'
          scopes:
            'read:users': read users info
            'write:users': modify or remove users
    api_key:
      type: apiKey
      in: header
      name: api_key
    basic_auth:
      type: http
      scheme: basic
