openapi: 3.0.2
info:
  version: 2.0.0
  title: BIO API
  contact:
    email: info@holdingbio.ru
    url: 'https://holdingbio.ru'
  x-logo:
    url: 'https://holdingbio.ru/wp-content/uploads/2020/01/bio_logo-2.png'
  description: >
    # Общая информация

    BIO API (Application Programming Interface – интерфейс программирования приложений) – это интерфейс взаимодействия с учетной системой Компании БИО, 
    который дает возможность с помощью http-запросов получать и обрабатывать бизнес-данные:
      - получение списка актуальных заказов и публикация новых
      - получение данных по номенклатуре (остатки, цены)
      - сверка взаиморасчетов с Компанией БИО
      - управление бонусами
      - и многое-многое другое :-)

    Сервис расположен здесь: [http://api.bioshop.ru:8030](http://api.bioshop.ru:8030).
    Примером взаимодействия с API служит [Портал](https://portal.holdingbio.ru/). Все данные, выводимые на портале, можно получить через API.
    
    ### Протокол передачи данных
    
    На текущий момент API поддерживает HTTP протокол. HTTPS протокол будет внедрен в ближайшее время.

    ### Формат запросов

    По умолчанию в API используются POST-запросы.

    ### Аутентификация
    
    На текущий момент все запросы требуют логин и пароль пользователя для аутентификации.

    # Пример использования

    Рекомедуется использовать следующий алгоритм:
      - Получить список категорий (запрос /categories)
      - Обходя список категорий, получить id конкретной категории и выполнить запрос /products для получения списка товаров этой категории
      - Если необходимы более детальные данные товара, то можно по коду товара получить все данные (/product) или только часть основных данных (/products/details)
      - Запрос /product оперирует только одним товаров, но возвращает все возможные данные по товару. Запрос /products/details можете принимать массив кодов, 
        но возращает только необходимый минимум (цены, остатки) 
      - Для автоматического создания заказа необходимо выполнить запрос /order/new, передав список кодов товаров и количество

tags:
  - name: Auth
    description: Аутентификация пользователя
  - name: Bonuses
    description: Бонусы клиента
  - name: Categories
    description: Категории товаров
  - name: Category
    description: Категория товара (основные данные)
  - name: Client settlements
    description: Расчеты с клиентом
  - name: Finance
    description: Финансовые показатели (итоги)
  - name: Order
    description: Информация по выбранному заказу клиента
  - name: Orders
    description: Список заказов клиента  
  - name: Product
    description: Информация по выбранному товару
  - name: Products
    description: Список товаров  
  - name: Settings
    description: Настройки пользователя
servers:
  - url: 'http://api.bioshop.ru:8030'
paths:
  /auth:
    $ref: paths/auth.yaml
  /bonuses:
    $ref: paths/bonuses.yaml
  /categories:
    $ref: paths/categories.yaml
  /category:
    $ref: paths/category.yaml
  /clientsettlements:
    $ref: paths/clientsettlements.yaml
  /finance:
    $ref: paths/finance.yaml    
  /order:
    $ref: paths/order.yaml
  /order/print:
    $ref: paths/orderPrint.yaml 
  /order/comment:
    $ref: paths/orderComment.yaml
  /order/state:
    $ref: paths/orderState.yaml
  /order/new:
    $ref: paths/orderNew.yaml
  /orders:
    $ref: paths/orders.yaml
  /product:
    $ref: paths/product.yaml
  /product/file:
    $ref: paths/productFile.yaml
  /products:
    $ref: paths/products.yaml
  /products/details:
    $ref: paths/productsDetails.yaml  
  /products/sale:
    $ref: paths/productsSale.yaml
  /products/markdown:
    $ref: paths/productsMarkdown.yaml
  /settings:
    $ref: paths/settings.yaml
# components:
#   schemas:
#     GeneralError:
#       type: object
#       properties:
#         code:
#           type: integer
#           format: int32
#         message:
#           type: string
#   responses:
#     NotFound:
#       description: Entity not found.
#     IllegalInput:
#       description: Illegal input for operation.
#     GeneralError:
#       description: General Error
#       content:
#         application/json:
#           schema:
#             $ref: '#/components/schemas/GeneralError'

# components:
#   securitySchemes:
#     main_auth:
#       type: oauth2
#       flows:
#         implicit:
#           authorizationUrl: 'http://example.com/api/oauth/dialog'
#           scopes:
#             'read:users': read users info
#             'write:users': modify or remove users
#     api_key:
#       type: apiKey
#       in: header
#       name: api_key
#     basic_auth:
#       type: http
#       scheme: basic
